/* home */
/* *{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 70px;
    background-color: #cca074;
}
header nav{
    display: flex;
}
header nav ul{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header nav ul li{ 
    display:flex;    
    justify-content: space-between;
    margin: 1rem;
} */

.gridAlbumes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 15px;
    justify-content: center;
}

.gridTitulo{
   grid-column: 1 / span 3; 
}
.gridHappier{
    grid-column-start: 1;
    transition: all 1s;
}
.gridLiveat{
    grid-column-start: 2;    
}
.gridWheredowego{
    grid-column-start: 3;
}
.gridUpnext{
    grid-column-start: 1 / span 2;
}
.gridDontsmile{
    grid-column-start: 3;
}
.textoAlbum{
    color: black;
}

main img{
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    margin-left: 100px;
    display: block;
    }
nav ul li{
    display:  flexbox;
    margin: 20px;
    color: black;
} 
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: white;
    text-align: left;
}
#bodyPrincipal, header, nav ul li{
    color: black;
}
main ol{
    color: black;
}
h2{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3rem;
    
}
ul{
    color: white;        
}
body{  
    background-color: #C8A786;
    text-align: center;     
}
a{
    text-decoration: none;
}
nav ul a{
    color: black;
}
a:hover{
    text-decoration: underline;
}


/* animaciones */

.gridHappier :hover{
    transform: scale(2);
    transition: all 1s;
}
.gridLiveat :hover{
    transform: scale(2);
    transition: all 1s;
}
.gridWheredowego :hover{
    transform: scale(2);
    transition: all 1s;
}
.gridUpnext :hover{
    transform: scale(2);
    transition: all 1s;
}
.gridDontsmile :hover{
    transform: scale(2);
    transition: all 1s;
}

.footerHome{
    background-image: linear-gradient(to top, #c5925f, #C8A786);
}

/* biografi */

.bodySecundario{
    background-color: black;
}
.headBio h2{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 6rem;
    height: auto;
    margin: auto;
    padding: 1px;
}
p{
    color: white;
    text-align: center;
}
.subTitulob{
    color: whitesmoke;
    font-size: 2.5rem;   
}
.imgBio{
    height: auto;
    margin: 1rem auto;
    text-align: center;
    width: 800px;
}

/* Tienda */

.titulosStore{
    color: black;
}

.tiendaRopa{
    display: flex;  
}
.tiendaRopa ul{
    display: flex;
    height: 250px;
    text-align: center;
}
.tiendaRopa ul li{
    display: flex;
    align-items: flex-end;   
}


/* Bootstrap Index */

.tituloNav{
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: white;
    font-size: 50px;
}

.colorNav{
    background-color: #cca074;
}

.cololiNav{
    color: black;
    font-size: 18px; 
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }








   











